@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.card-slider {
  width: 85%;
  margin: auto;
}

.card {
  background: white;
  /* border-radius: 10px; */
  /* height: 300px; */
  width: 200px;
  margin-top: 40px;
  padding: 12px;
  /* text-align: center; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;

}

.card:hover {
  background-color: rgba(53, 53, 235, 0.826);
  color: white;
  /* transform: scale(1.05); */
}

.slick-prev:before,
.slick-next:before {
  color: #000;
}

.slick-slide {
  padding: 0 10px;
  /* Adjust the padding for gap between slides */
  margin-bottom: 100px;
}

.navbarUl {
  display: flex;
  list-style: none;
  gap: 2vw;
  margin-top: 15px;
}

.navbarUl li {
  display: flex;
}

.navbarUl li small:hover {
  color: blue;
}

.navbar1 {
  display: flex;
  background-color: rgb(37, 35, 35);
  color: white;
  padding: 0 4vw;
  height: max-content;
  justify-content: space-between;
  align-items: center;
  height: 40px;

}

.navbar.show {
  position: fixed;
  top: 40px;
  right: 0;
  left: 0;
  z-index: 99999;
}

.navUl2 {
  display: flex;
  gap: 1.7vw;
  list-style: none;
  margin-top: 15px;
}

.nav2:hover {
  color: blue;
}

@media only screen and (max-width:1071px) {
  .navbar1 {
    flex-direction: column-reverse;
    align-items: center;
  }

  .follow {
    display: none;
  }
}

@media only screen and (max-width:756px) {
  .navbarUl {
    display: none;
  }
}

.Pagebackground {
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url('https://img.freepik.com/free-photo/gradient-navy-blue-digital-grid-wallpaper_53876-104785.jpg?t=st=1717409565~exp=1717413165~hmac=aa8bafc5cb1b64a1f610f063bea8ad44f841daea8f4139acdcc25ce83e8efb35&w=826');
}

.marquee {
  font-size: 40px;
  color: white;
  height: 100%;
  background-size: cover;
  background-color: rgb(63, 63, 199);
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee-content {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 30s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(-100%, 0);
  }
}

.image-container {
  border: 3px solid blue;
  position: relative;
  width: 300px;
  height: 300px;
  margin-top: 60px;

}

.firstimg {
  margin-left: -50px;
  margin-top: -50px;

}

.overlay-image {
  position: absolute;
  bottom: 0;
  right: 0;

}

.imagetwo {
  margin-bottom: -70px;
  margin-right: -50px;
}

.slideImage {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-image: url('https://t4.ftcdn.net/jpg/02/50/99/45/360_F_250994548_wQCr0WrSd0aA3dRs1uQDAkYYStNVSGYE.jpg');
}

.footerPages {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-color: rgb(23, 21, 21);
}

.ulPages {
  list-style: none;
  color: white;
}

.ulPages li a {
  color: white;
  text-decoration: none;
}

.hack:hover {
  color: rgb(95, 8, 177);
  margin-left: 3px;
}

.navHover .nav-link {
  transition: color 0.3s ease;
  color: #000;
}

.navHover .nav-link:hover {
  color: red;
  margin-left: 3px;
}

.bgPages {
  height: 100%;
  width: 100%;
  background-color: rgb(63, 63, 199);
  color: white;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.navbarMain {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 999999;
}

.navHover a h6:hover {
  color: blue;
}

.book {

  height: 350px;
  /* background-color: firebrick; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.booxBox {
  width: 300px;
  height: 250px;
  background-color: yellow;
  overflow: scroll;
}

.booxBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.booxBox::-webkit-scrollbar {
  display: none;
}
.lol{
  font-size: 19px;
}
.content-para{
  font-size: 13px;
}